header {
    color: black;
    background-color: #ffdb72;
    padding: 20px;
}

body {
    text-align: center;
    background-color: #727272;
    color : white;
}

section {
    margin: 50px;
}

#ram {
    color: black;
}

input[type="radio"] {
  margin: 0px 10px 0px 10px;
}

select option {
    margin: 40px;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

#color_preview {
    width: 50px;
    height: 50px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-width: 1px;
    border-color: black;
    margin: auto;
}
