body {
    background-color:black;
    color:gray;
}

header, main, nav, footer {
    text-align:center;
}

nav a {
    padding:15px;
    padding-bottom:4px;
    font-size: 1.8em;
    text-decoration: none;
    color:white;
}

nav a:hover {
    border-bottom: 2px orange solid;
    font-size: 2em;
    transition: .9s;
}

#me, #welcomeText {
    float:left;
}

#welcomeText {
    width: 400px;
    
}

footer {
    clear:left;
}

table {
    margin:0px auto;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color:orange;
}

#table-header {
    background-color: gray;
}

.table-row {
    background-color: orange;
}

ul {
    text-align: center;
    padding-left: 200px;
}

#contact-form {
    border-bottom-color: red;
    text-align: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}

#content {
    text-align: center;
}